<title>Movie List</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
  h4,
  i {
    color: #6A5ACD;
  }
</style>

<div class="container mt-5">

  <!-- Button trigger modal -->


  <div class="">
    <h4>My Movie List ...</h4>
    <div class="nav justify-content-end ">
      <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/home/list/addMovie" class="btn btn-sm btn-dark">Add New Film &nbsp;&nbsp;<span
            class="fa fa-plus"></span></a>
        <a href="/home/dashboard" class="btn btn-sm btn-success">Home &nbsp;&nbsp;<span class="fa fa-home"></span></a>
        <% if(x==1) {%>
        <a href="/home/list/sort" class="btn btn-sm btn-light" data-toggle="tooltip" data-placement="top"
          title="Sort By Added Asc">
          Sort &nbsp;&nbsp;<span class="fa fa-retweet"></span></a>

        <% } else { %>
        <a href="/home/list" class="btn btn-sm btn-secondary" data-toggle="tooltip" data-placement="top"
          title="Sort By Added DEsc">
          Reset &nbsp;&nbsp;<span class="fa fa-retweet"></span></a>

        <% } %>


      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-sm table-striped">
        <caption>List of movies</caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="text-center">Wish List</th>
            <th scope="col">Movie No: </th>
            <th scope="col">Movie Name</th>
            <th scope="col">Genre</th>
            <th scope="col">Category</th>
            <th scope="col" class="text-center">Watched times</th>
            <th scope="col" class="text-center">Action</th>



          </tr>
        </thead>
        <tbody>
          <% if(watchlist2.length!=0){
              var i=1; 
              watchlist2.forEach(function(data)
              {
                %>

          <tr>
            <td>
              <div class="text-center">
                <a href="javascript:;" class="">
                  <i class=" fa fa-bookmark"></i>
                </a>
              </div>
            </td>
            </td>


            <th scope="row"><%=i; %></th>

            <td><%=data.mname;%></td>
            <td><%=data.genre;%></td>
            <td><%=data.category;%></td>
            <td class="text-center"><%=data.wtimes;%></td>
            <td class="text-center">
              <a href="/home/list/editmovie/<%=data.mid;%>">
                <button class="btn btn-sm btn-warning">Edit &nbsp;&nbsp;<span class="fa fa-edit"></span></button>
              </a>
              <a href="/home/list/deletemovie/<%=data.mid;%>">
                <button type="" class="btn btn-sm btn-danger">Del &nbsp;&nbsp;<span
                    class="fa fa-trash-o"></span></button>
              </a>
              <a href="/home/list/details/<%=data.mid;%>">
                <button type="" class="btn btn-sm btn-primary">More &nbsp;&nbsp;<span
                    class="fa fa-ellipsis-v"></span></button>
              </a>

            </td>
          </tr>
          <% i++; }) %>
          <% }%>

        </tbody>
      </table>
    </div>
  </div>



</div>